@media(min-width:768px){
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Lora', serif;
  }
  body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;

  }
  body {
    overflow-x: hidden;
  }
  h3 {
    text-align: center;
  }
  th {
    font-weight: bold;
  }
  .navbar {
    margin-bottom: -20px;
  }
  .car-item{
    height: 650px;
  }
  .carousel-img {
    min-width: 100%;
  }

  #about-us {
    padding-bottom: 100px;
  }
  #our-process {
    padding-bottom: 100px;
  }
  #our-products {
    padding-bottom: 100px;
  }
  #shishka {
    margin-bottom: 10px;
    position:relative;
    left: 275px;
  }
  #schedule {
    padding-bottom: 100px;
  }
  #supplies {
    margin-top: 100px;
    padding-bottom: 100px;
  }
  #footer {
    padding-bottom: 100px;
  }
  .img-wrap{
    height: 500px;
    margin-bottom: 40px;
  }
  .about-us {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 75px;
  }
  .about-text {
    text-align: center;
    padding: 20px;
  }
  .img-responsive.img-rounded.img-shishka {
    height: 450px;
    margin-bottom: 10px;
  }
  .thumb-box  {
    text-align: center;
  }
  .thumb-box > h3, i {
    padding: 10px;
  }
  #our-process {
    background-color: #68985E;
    color: #FFFFFF;
  }
  .col-md-12.about-us.process{
    text-shadow: 2px 2px 4px #000000;
  }
  .col-md-12.about-us.schedule{
    text-shadow: 2px 2px 4px #000000;
  }

  .solar{
    background-image: url("images/solar1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  #schedule {
    background-color: #FECE2F;
    color: #FFFFFF;
    font-weight: bold;
  }
  .schedule-box {
    padding-bottom: 50px;
  }
  .white {
    height: 500px;
    border-color: #FECE2F;
    border-style: solid;
    border-width: thin;
    box-shadow: 10px 5px 5px #D09427;
  }

  #growsite{
    background-image: url("images/growsite.jpg");
    background-size: cover;
  }
  .col-xs-12.col-md-12.white.one h1 {
    position: relative;
    top: 420px;
    left: 450px;
  }
  /*.col-xs-12.col-md-12.white.one h3 {
    position: relative;
    top: 250px;
    left: 250px;
  }*/
  #resin {
    background-image: url("images/resin.jpg");
    background-size: cover;
  }
  .col-xs-12.col-md-12.white.two h1 {
    position: relative;
    left: 300px;
    top: 300px;
  }
  .col-xs-12.col-md-12.white.two p {
    position: relative;
    left: 175px;
    top: 300px;
    font-size: 18px;
  }
  #machine {
    background-image: url("images/process.jpg");
    background-size: cover;
  }
  .col-xs-12.col-md-12.white.three h1 {
    position:relative;
    top: 100px;
    left: 600px;
  }
.col-xs-12.col-md-12.white.three p {
  position:relative;
  top: 100px;
  left: 550px;
  font-size: 18px;
}
  #footer {
    background-color: #D09427;
    border-color: #FECE2F;
    color: #FFFFFF;
  }
  .table caption {
    text-align: center;
  }
  .btn.btn-default.quotation {
    position: relative;
    top: 250px;
    left: 625px;
  }

}
