@media(min-width:768px){
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  hr {
      display: block;
      margin-top: 1em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
      width: 80%;
  }
  .img-earth {
    margin-bottom: -10px;
  }
  .navbar {
    margin-bottom: -20px;
  }
  .car-item{
    height: 650px;
  }
  .carousel-img {
    min-width: 100%;
  }
  .img-wrap{
    height: 400px;
    width: 320px;
    margin-bottom: 40px;
  }
  .about-us {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .about-text {
    text-align: center;
    padding: 20px;
  }
  .thumb-box  {
    text-align: center;
  }
  .thumb-box > h3, i {
    padding: 10px;
  }
  #process {
    background-color: gray;
    color: #FFFFFF;
  }
  .solar{
    background-image: url("images/solar.jpg");
    background-size: cover;
    height: 350px;
  }
  .ourproduct{
    margin-bottom: 40px;
    margin-left: 0;
    width: 100%;
  }
}
