@media(min-width:768px){
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .navbar {
    margin-bottom: -20px;
  }
  .car-item{
    height: 650px;
  }
  .carousel-img {
    min-width: 100%;
  }
  .about-us {
    text-align: center;
    margin: 0;
  }
  .about-us {
    margin: 40px;
  }
  .caption {
    text-align: center;
    margin: 0:
  }
  hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
      width: 80%;
  }

}
