@media(max-width:767px){
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Lora', serif;
  }
  body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  hr {
      display: block;
      margin-top: 2em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
      width: 50%;
  }
  .navbar {
    margin-bottom: -20px;
  }
  .carousel-img {
    min-width: 100%;
  }
  .about-us {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.75em;
  }
  .about-text {
    text-align: center;
    padding: 2em;
  }
  .img-wrap{
    height: 500px;
    margin-left: 3em;
    margin-bottom: 3em;
  }
  #our-process {
    background-color: #D09427;
    color: #FFFFFF;
  }
  .about-text {
    text-align: center;
    padding: 20px;
  }
  .thumb-box  {
    text-align: center;
  }
  .thumb-box > h3, i {
    padding: 10px;
  }
  .col-md-12.ourproduct{
    display: none;
  }
  .solar{
    background-image: url("images/solar.jpg");
    background-size: cover;
    height: 150px;
  }
  #schedule {
    background-color: #FECE2F;
    color: #FFFFFF;
  }
  .col-md-12.about-us.process{
    text-shadow: 0.5em 0.5em 1em #000000;
  }
  .col-md-12.about-us.schedule{
    text-shadow: 0.5em 0.5em 1em #000000;
  }
  .white {
    height: 200px;
    background-color: white;
    border-color: #FECE2F;
    border-style: solid;
    border-width: thin;
    box-shadow: 5em 2.5em 2.5em #D09427;
  }
  .col-md-12.white {
    color: black;
  }
  .schedule-box {
    padding-bottom: 10em;
  }
  #footer {
    background-color: #527A29;
    color: #FFFFFF;
  }

}
